%html
  %body
    .container
      = link_to root_path, class: 'general-back-link' do
        %i.fa.fa-long-arrow-left.mr-15.mt-5
        Back to projects
      .col
        .d-flex.justify-content-center.mt-3
          %img.img-responsive{src: @project.first_photo_url, height: 350}
          .d-flex.flex-column.justify-content-center.ml-2
            %h1.text-right
              = @project.title
            %p.text-right.font-weight-bold.lead
              = "Category: #{@project.category.name}"
            .general-info-wrap.text-right.divider-lg
              %p.lead.big
                = "Description: #{@project.description}"
            .d-flex.justify-content-end
              = link_to support_index_path(project_id: @project), class: 'btn btn-primary', method: :post do
                Support

