%html
  %body
    .container
      = link_to root_path, class: 'general-back-link' do
        %i.fa.fa-long-arrow-left.mr-15.mt-5
        Back to projects
      .row
        .col-sm-6
          %h1.text-left.mt-4
            = @project.title
          .d-flex.justify-content-between.mt-3
            %p.font-weight-bold.lead
              = "Category: #{@project.category.name}"
          %img.img-responsive{src: @project.first_photo_url, height: 500}
          .general-info-wrap.divider-lg.mt-2
            %p.lead.big
              = "Description: #{@project.description}"
